.pagination>li:first-child>a, .pagination>li:first-child>span {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.ui-menu .ui-menu-item a{
    font-size: 10px;
    color: #96f226;
    border-radius: 0px;
    border: 1px solid #454545;
}